@model IEnumerable<OnlineShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin2.cshtml";
}


<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">所有订单</div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderTime)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {

                        if (item.State.ToString() == "订单完成")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderTime)
                                </td>
                                <td>
                                    @Html.ActionLink("detailes", "OrderInfo", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
